<div>&nbsp;</div>

<table class="table table-striped">
  <% @tweets.each do |tweet| %>
    <tr>
      <td>
        <% if tweet.tid %>
          <%= link_to tweet.tweet, tweet_url(tweet), target: :_blank %>
        <% else %>
          <%= tweet.tweet %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to "Schedule a Tweet", new_user_tweet_path(current_user), :class => "btn btn-primary pull-right" %>
</div>