
<div>
  <%= link_to "Schedule a Tweet", new_user_tweet_path(current_user), :class => "btn btn-default" %>
</div>

<div>&nbsp;</div>

<table class="table table-striped">
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= link_to tweet.tweet, tweet_url(tweet), target: :_blank %></td>
    </tr>
  <% end %>
</table>
