<%= form_for [current_user, @tweet], url: {action: "create"} do |f| %>
  <div>
    <%= f.text_field :tweet %>
  </div>

  <div class='input-group date' id='picker-scheduled-at'>
    <%= f.text_field :scheduled_at, :class => "form-control" %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <div>
    <%= f.submit "Create" %>
  </div>

<% end %>
